* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-light body {
    background-color: #ffffff;
    color: #000;
}

.theme-dark body {
    background-color: #374151;
    color: #fff;
}

.navbar {
    background-color: #043886;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center; 
    position: relative;
    justify-content: flex-end;
    margin-right: 100px;
    padding: 0px 0;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    position: relative;
    transition: .5s ease;
    margin-right: 5px;
    height: 70px;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #008cff;
    transition: .5s ease;
  }

  .btn:hover {
    color: #1e1e2b;
    transition-delay: .5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #008cff;
    transition: .4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

.logo {
    margin-right: 900px;
}

.switch {
    margin-left: 100px;
    margin-bottom: 25px;
}

.navbar ul li a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.espaco {
    margin-top: 135px; 
}

.zika {
    margin: 100px 8% 0 8%;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
    left: -5%;
    top: 245px;
    transform: translate(-50%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.sobre {
    background-color: #b0e6ff;
    margin: 50px 8%;
    padding: 15px 20px;
    border-radius: 20px;
}

.sobre p {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
    color: #013361;
}

h1 {
    font-weight: bold;
    padding-top: 70px;
    text-align: center;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    background-color: #0064c2;
}

p {
    color: #013361;
    margin-bottom: 15px;
}

footer {
    background-color: #0064c2;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.toggle-checkbox {
    align-items: center;
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 20px;
    margin-bottom: -10px;
}

.toggle-slot {
    font-size: 10px;
    position: relative;
    height: 3.5em;
    width: 7em;
    border: 0px solid transparent;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(3.65em, 0.25em);
}

.sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: rgb(255, 255, 255);
}

.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, 2em) rotate(-15deg);
}

.card {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 10000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 28px;
    color: #333;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 18px;
    color: #777;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
  }

.solucoes {
    display: flex;
    justify-content: space-between; /* Ou outro valor de alinhamento */
    margin: 50px;
    margin-bottom: 100px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  